mixin component-sample-form(content)
	div
		h1 ${{ sample-form.pageTitle }}$

		form
			div(class="form-group")
				label(for="exampleInputEmail1") ${{ sample-form.email }}$
				input(type="email",class="form-control",id="exampleInputEmail1",placeholder="${{ sample-form.email }}$",disabled)
				span(class="help-block") ${{ sample-form.helpText }}$

			div(class="form-group")
				label(for="exampleInputPassword1") ${{ sample-form.password }}$
				input(type="password",class="form-control",id="exampleInputPassword1",placeholder="${{ sample-form.password }}$")

			div(class="form-group")
				label(for="exampleInputComment1") ${{ sample-form.comment }}$
				textarea(class="form-control",id="exampleInputComment1") ${{ sample-form.typeComment }}$			

			div(class="form-group")
				label(for="exampleSelect1") ${{ sample-form.selectOption }}$
				select(class="form-control",name="select",id="exampleSelect1")
					option(value="option1") ${{ sample-form.option }}$ 1
					option(value="option2") ${{ sample-form.option }}$ 2
					option(value="option3") ${{ sample-form.option }}$ 3

			div(class="form-group")
				label(for="exampleInputFile") ${{ sample-form.fileInput }}$
				input(type="file",id="exampleInputFile")
				p(class="help-block") ${{ sample-form.helpTextBlock }}$.

			div(class="checkbox custom")
				input(type="checkbox",id="inputCheckSample")
				label(for="inputCheckSample") ${{ sample-form.checkout }}$

			div(class="form-group")
				button(type="submit",class="btn") ${{ sample-form.submit }}$

	div
		h3 Inline Form
		h4 ${{ sample-form.example }}$
		form(class="form-inline")
			div(class="form-group")
				label(for="exampleInputName2") ${{ sample-form.name }}$
				input(type="text",class="form-control",id="exampleInputName2",placeholder="Jane Doe")

			div(class="form-group")
				label(for="exampleInputEmail2") ${{ sample-form.email }}$
				input(type="email",class="form-control",id="exampleInputEmail2",placeholder="jane.doe@example.com")

			div(class="form-group")
				button(type="submit",class="btn btn-default") ${{ sample-form.sendInvitation }}$
				
		h4 ${{ sample-form.example }}$	
		form(class="form-inline")
			div(class="form-group")
				label(class="sr-only",for="exampleInputAmount") ${{ sample-form.amount }}$
				div(class="input-group")
					div(class="input-group-addon") $
					input(type="text" class="form-control" id="exampleInputAmount" placeholder="${{ sample-form.amount }}$")
					div(class="input-group-addon") .00

			button(type="submit" class="btn btn-primary") ${{ sample-form.transferCash }}$

	div
		h3 Horizontal form
		form(class="form-horizontal")
			div(class="form-group")
				label(for="exampleInputEmail4", class="col-sm-2 control-label") ${{ sample-form.email }}$
				div(class="col-sm-10")
					input(type="email",class="form-control",id="exampleInputEmail4",placeholder="${{ sample-form.email }}$")

			div(class="form-group")
				label(class="col-sm-2 control-label") ${{ sample-form.email }}$
				div(class="col-sm-10")
					p(class="form-control-static") email@example.com
						

			div(class="form-group")
				label(for="exampleInputPassword3",class="col-sm-2 control-label") ${{ sample-form.password }}$
				div(class="col-sm-10")
					input(type="password",class="form-control",id="exampleInputPassword3",placeholder="${{ sample-form.password }}$")

			div(class="form-group")
				label(for="exampleInputComment4", class="col-sm-2 control-label") ${{ sample-form.selectOption }}$
				div(class="col-sm-10")
					select(class="form-control",name="select",id="exampleInputComment4")
						option(value="option1") ${{ sample-form.option }}$ 1
						option(value="option2") ${{ sample-form.option }}$ 2
						option(value="option3") ${{ sample-form.option }}$ 3

			div(class="form-group")
				label(for="exampleInputFile1",class="col-sm-2 control-label") ${{ sample-form.fileInput }}$
				div(class="col-sm-10")
					input(type="file",id="exampleInputFile1")
					p(class="help-block")
						| ${{ sample-form.helpTextBlock }}$

			div(class="form-group")
				div(class="checkbox")
					div(class="col-sm-offset-2 col-sm-10")
						label 
							input(type="checkbox")
							| ${{ sample-form.checkout }}$

			div(class="form-group")
				div(class="col-sm-offset-2 col-sm-10")
					button(type="submit",class="btn") ${{ sample-form.submit }}$				
	
	div
		h2 Checkboxes and Radios
		h3 ${{ sample-form.standar }}$
		form
			div(class="checkbox")
				label
					input(type="checkbox",value="")
					| ${{ sample-form.optionOne }}$

			div(class="checkbox disabled")
				label
					input(type="checkbox",value="", disabled)
					| ${{ sample-form.optionTwoDisabled }}$

			div(class="radio")
				label
					input(type="radio",name="optionsRadios",id="optionsRadios1",value="option1",checked)
					| ${{ sample-form.optionOne }}$

			div(class="radio")
				label
					input(type="radio", name="optionsRadios", id="optionsRadios2", value="option2")
					| ${{ sample-form.optionTwo }}$

			div(class="radio disabled")
				label
					input(type="radio",name="optionsRadios", id="optionsRadios3", value="option3", disabled)
					| ${{ sample-form.optionThreeDisabled }}$
					
		h3 Inline
		form
			div(class="checkbox-inline")
				label
					input(type="checkbox",value="")
					| ${{ sample-form.optionOne }}$

			div(class="checkbox-inline")
				label
					input(type="checkbox",value="")
					| ${{ sample-form.optionTwo }}$	
