.container
	.row.flex-vcenter
		.col-md-9.col-12
			ul.list-inline.nomargin
				li.list-inline-item © Copyright 2012 - 2018 
				li.list-inline-item |
				li.list-inline-item ${{ default.allRightsReserved }}$ 
				li.list-inline-item |
				li.list-inline-item ${{ default.designedBy }}$  <span class="text-primary">SunnieJS</span>

		.col-md-3.col-12
			ul.list-inline.nomargin.text-right
				li.list-inline-item
					a(href="http://www.facebook.com",title="${{ default.goTo }}$ Facebook")
						i(class="fa fa-facebook-square icon-5x")
				li.list-inline-item
					a(href="http://www.twitter.com",title="${{ default.goTo }}$ Twitter")
						i(class="fa fa-twitter icon-5x")
				li.list-inline-item
					a(href="http://www.google-plus.com",title="${{ default.goTo }}$ Google Plus")
						i(class="fa fa-google-plus icon-5x")
				li.list-inline-item
					a(href="http://www.instagram.com",title="${{ default.goTo }}$ Instagram")
						i(class="fa fa-instagram icon-5x")
				li.list-inline-item
					a(href="http://www.youtube.com",title="${{ default.goTo }}$ Youtube")
						i(class="fa fa-youtube icon-5x")