nav(class="navbar navbar-default",role="navigation")

	div(class="navbar-header")
		button(type="button",class="navbar-toggle collapsed",data-toggle="collapse",data-target="#navigation-list",aria-expanded="false")

			span(class="sr-only") Toggle navigation
			span(class="icon-bar")
			span(class="icon-bar")
			span(class="icon-bar")

	div(class="navbar-collapse collapse",id="navigation-list", aria-expanded="false")

		ul(class="nav navbar-nav")
			li
				a(href="./home.html", title="${{ default.goTo }}$ ${{ default.home }}$")
					span ${{ default.home }}$

			li
				a(href="./get-started.html", title="${{ default.goTo }}$ ${{ default.getStarted }}$")
					span ${{ default.getStarted }}$

			li
				a(href="./html-elemments.html", title="${{ default.goTo }}$ ${{ default.htmlElements }}$", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false", id="html-elements")
					span ${{ default.htmlElements }}$
					span(class="caret")

				ul(class="dropdown-menu",aria-labelledby="html-elements")
					li
						a(href="./typography.html", title="${{ default.goTo }}$ ${{ default.typography }}$") ${{ default.typography }}$
					li
						a(href="./lists.html", title="${{ default.goTo }}$ ${{ default.lists }}$") ${{ default.lists }}$
					li
						a(href="./tables.html", title="${{ default.goTo }}$ ${{ default.tables }}$") ${{ default.tables }}$
					li
						a(href="./buttons.html", title="${{ default.goTo }}$ ${{ default.buttons }}$") ${{ default.buttons }}$	
					li
						a(href="./forms.html", title="${{ default.goTo }}$ ${{ default.forms }}$") ${{ default.forms }}$
					li
						a(href="./modals.html", title="${{ default.goTo }}$ ${{ default.modals }}$") ${{ default.modals }}$

			li
				a(href="./layouts.html", title="${{ default.goTo }}$ ${{ default.layouts }}$")
					span ${{ default.layouts }}$

			li
				a(href="./components.html", title="${{ default.goTo }}$ ${{ default.components }}$")
					span ${{ default.components }}$

			li
				a(href="./pages.html", title="${{ default.goTo }}$ ${{ default.pages }}$")
					span ${{ default.pages }}$

			li
				a(href="./data-definitions.html", title="${{ default.goTo }}$ ${{ default.dataDefinitions }}$")
					span ${{ default.dataDefinitions }}$

			li
				a(href="./js-functions.html", title="${{ default.goTo }}$ ${{ default.jsFunctions }}$")
					span ${{ default.jsFunctions }}$

			li
				a(href="./generators.html", title="${{ default.goTo }}$ ${{ default.generators }}$")
					span ${{ default.generators }}$					