extends ../modal_noFooter

block vars
	- var modal_title = "Editar Componente"
	- var modal_id = "modal-component-edit"
	- var modal_size = "modal-lg"

block modal-body
	form(id="form-edit-component",data-toggle="validator",role="form",data-method="POST",data-action=apiDevelopment + "/site/{idSite}/page/{idPage}/component/edit", data-callback="editComponentCallback")
		
		div(id="edit-component-block")

		.row
			div(class="form-group col-12 d-flex justify-content-end mb-0")
				button(type="submit",class="btn btn-primary send") Editar componente

	script(id="templateEditComponent",type="text/x-jquery-tmpl")

		.row
			div(class="form-group col-md-4 col-12")
				label(for="componentID",class="uppercase") ID
				input(type="text",name="id",id="componentID",class="form-control", value="${data.id}", disabled)

			div(class="form-group col-md-4 col-12")
				label(for="componentName",class="uppercase") Nombre
				select(type="text",name="name",id="componentName",class="form-control", required, data-service-data=apiDevelopment + "/component/list",data-method="GET",data-template="#templateComponentList",data-target="#modal-component-edit #componentName", data-callback="checkComponentEdited", data-content='"${data.name}"')

			div(class="form-group col-md-4 col-12")
				label(for="componentTitle",class="uppercase") Título
				input(type="text",name="title",id="componentTitle",class="form-control", value="${data.title}")

			div(class="form-group col-md-4 col-12")
				| ${( $data.showTitle = data.showTitle == 'true' ? "checked" : "" ) ,''}
				| ${( $data.full = data.full == 'true' ? "checked" : "" ) ,''}
				| ${( $data.id = parseInt(Math.random() * (99999 - 0) + 0) ) ,''}

				fielset
					legend Mostrar Título

					div(class="custom-control custom-radio")
						input(type="radio",name="showTitle",id="componentShowTitleNo${id}",class="form-control custom-control-input",required, value="false", checked)
						label(for="componentShowTitleNo${id}",class="uppercase custom-control-label") No

					div(class="custom-control custom-radio")
						input(type="radio",name="showTitle",id="componentShowTitleSi${id}",class="form-control custom-control-input",required,value="true",${showTitle})
						label(for="componentShowTitleSi${id}",class="uppercase custom-control-label") Si

			div(class="form-group col-md-4 col-12")
				fielset
					legend Fullsize

					div(class="custom-control custom-radio")
						input(type="radio",name="full",id="componentFullNo${id}",class="custom-control-input",required, value="false", checked)
						label(for="componentFullNo${id}",class="uppercase custom-control-label") No

					div(class="custom-control custom-radio")
						input(type="radio",name="full",id="componentFullSi${id}",class="custom-control-input",required, value="true", ${full})
						label(for="componentFullSi${id}",class="uppercase custom-control-label") Si

			div(class="form-group col-md-4 col-12")
				label(for="componentClasses",class="uppercase") Clases
				input(type="text",name="classes",id="componentClasses",class="form-control", value="${data.classes}")

		.row
			div(class="form-group col-md-4 col-12")
				label(for="layoutColumnPosition",class="uppercase") Layout Position
				input(type="text",name="layoutColumnPosition",id="layoutColumnPosition",class="form-control", required, value="${data.position}")
				input(type="hidden",name="oldPosition",value="${data.position}")
			div(class="form-group col-md-4 col-12")
				label(for="layoutColumn",class="uppercase") Layout Column
				select(name="layoutColumn",id="layoutColumn",class="form-control",required, data-load="true",data-service-data=apiDevelopment + "/layout/detail/{idLayout}",data-method="GET",data-template="#templateLayoutColumnsList",data-target="#modal-component-edit #layoutColumn",data-callback="checkLayoutColumn", data-content='"${data.layoutColumn}"')
				input(type="hidden",name="oldLayoutColumn",value="${data.layoutColumn}")

		.row
			.col-12
				fieldset(id="dynamicConfigComponent",data-form-group="content", class="md-3")
					legend Contenido
					.row
						| {%each data.config%}
						| ${( $data.requiredField = $value.required == true ? "required" : "" ) ,''}
						| ${( $data.id = parseInt(Math.random() * (99999 - 0) + 0) ) ,''}

						| {%if $value.type == "checkbox" || $value.type =="radio" %}

						| ${( $data.checked = data.content[name] == 'true' ? "checked" : "" ) ,''}
						div(class="form-group col-md-4 col-12 pt-8")
							div(class="custom-control custom-${$value.type}")
								input(class="custom-control-input",type="${$value.type}",id="input${id}",name="${$value.name}",value="${$value.value}",${requiredField},${checked})
								label(class="custom-control-label" for="input${id}") ${$value.label}

						| {%elseif $value.type == "textarea" %}
						div(class="form-group col-12")
							label(for="input${id}",class="uppercase") ${$value.label}
							textarea(name="${$value.name}", id="input${id}",class="form-control",${requiredField}) ${data.content[name]}

						| {%elseif $value.type == "select" %}

						div(class="form-group col-md-4 col-12")
							
							label(for="input${id}",class="uppercase") ${$value.label}
							select(name="${$value.name}", id="input${id}", class="form-control",${requiredField})

								| {%each(key,val) $value.options%}
								| ${( $data.selected = val.value == data.content[name] ? "selected" : "" ) ,''}
								option(value="${val.value}",${selected}) ${val.label}
								| {%/each%}

						| {%elseif $value.type == "array" %}
						.col-12.form-group

							| ${( $data.isArray = $value.type=="array" ? 'data-block-type=array' : '' ),''}

							fieldset( ${isArray} data-form-group="${$value.name}")
								legend ${$value.label}
								.row.position-relative
									.col-12

										| {%each(itemKey, itemVal) data.content[name] %}
										
										.fieldset(data-array-id="${itemKey}",class="mt-3")
											.row

												| ${( $data.dataContent = $value.arrayContent ||  $value.content || [] ) ,''}

												| {%each(key,val) $data.dataContent%}
												| ${( $data.requiredField2 = val.required == true ? "required" : "" ) ,''}
												| ${( $data.id2 = parseInt(Math.random() * (99999 - 0) + 0) ) ,''}

												| {%if val.type == "checkbox" || val.type =="radio" %}
												div(class="form-group col-md-4 col-12 pt-8")
													div(class="custom-control custom-${val.type}")
														input(class="custom-control-input",type="${val.type}",id="input${id2}",name="${val.name}",value="${val.value}",${requiredField},${checked})
														label(class="custom-control-label" for="input${id2}") ${val.label}
												| {%elseif val.type == "select" %}

												div(class="form-group col-md-4 col-12")
													
													label(for="input${id2}",class="uppercase") ${val.label}
													select(name="${val.name}", id="input${id2}", class="form-control",${requiredField})

														| {%each(key2,val2) val.options%}
														| ${( $data.selected = val2.value == itemVal[val.name] ? "selected" : "" ) ,''}
														option(value="${val2.value}",${selected} ) ${val2.label}
														| {%/each%}


												| {%else%}
												div(class="form-group col-md-4 col-12 mb-md-0")
													label(for="input${id2}",class="uppercase") ${val.label}
													input(type="${val.type}",name="${val.name}",id="input${id2}",class="form-control", value="${itemVal[val.name]}",${requiredField2})
												| {%/if%}		
												| {%/each%}

												| {%if $value.type == "array"%}
												div(class="addItem fa fa-plus mr-1")
												div(class="deleteItem fa fa-minus")
												| {%/if%}
										| {%/each%}

						| {%elseif $value.type == "group"  %}
						.col-12.form-group

							| ${( $data.isArray = $value.type=="array" ? 'data-block-type=array' : '' ),''}

							fieldset( ${isArray} data-form-group="${$value.name}")
								legend ${$value.label}
								.row.position-relative
									.col-12
										
										.fieldset(data-array-id="0",class="mt-3")
											.row

												| ${( $data.dataContent = $value.arrayContent ||  $value.content || [] ) ,''}
												| ${( $data.itemVal = data.content[name] ) ,''}

												| {%each(key,val) $data.dataContent%}
												| ${( $data.requiredField2 = val.required == true ? "required" : "" ) ,''}
												| ${( $data.id2 = parseInt(Math.random() * (99999 - 0) + 0) ) ,''}

												| {%if val.type == "checkbox" || val.type =="radio" %}

												| {%elseif val.type == "select" %}

												div(class="form-group col-md-4 col-12")
													
													label(for="input${id2}",class="uppercase") ${val.label}
													select(name="${val.name}", id="input${id2}", class="form-control",${requiredField2})

														| {%each(key2,val2) val.options%}
														| ${( $data.selected = val2.value == itemVal[val.name] ? "selected" : "" ) ,''}
														option(value="${val2.value}",${selected} ) ${val2.label}
														| {%/each%}

												| {%else%}
												div(class="form-group col-md-4 col-12 mb-md-0")
													label(for="input${id2}",class="uppercase") ${val.label}
													input(type="${val.type}",name="${val.name}",id="input${id2}",class="form-control", value="${itemVal[val.name]}",${requiredField2})
												| {%/if%}		
												| {%/each%}

												| {%if $value.type == "array"%}
												div(class="addItem fa fa-plus mr-1")
												div(class="deleteItem fa fa-minus")
												| {%/if%}													
						| {%else%}
						div(class="form-group col-md-4 col-12")
							label(for="input${id}",class="uppercase") ${$value.label}
							input(type="${$value.type}",name="${$value.name}",value="${data.content[name]}",id="input${id}",class="form-control",${requiredField})

						| {%/if%}

						| {%/each%}


	include input-template