extends ../modal_noFooter

block vars
	- var modal_title = "Añadir Componente"
	- var modal_id = "modal-component-add"
	- var modal_size = "modal-lg"

block modal-body
	form(id="form-add-component",data-toggle="validator",role="form",data-method="POST",data-action=apiDevelopment + "/site/{idSite}/page/{idPage}/component/add", data-callback="addComponentCallback")
		
		.row
			div(class="form-group col-4")
				label(for="componentName",class="uppercase") Nombre
				select(type="text",name="name",id="componentName",class="form-control",required,data-load="true",data-service-data=apiDevelopment + "/component/list",data-method="GET",data-template="#templateComponentList",data-target="#modal-component-add #componentName")

			div(class="form-group col-4")
				label(for="componentTitle",class="uppercase") Título
				input(type="text",name="title",id="componentTitle",class="form-control")

			div(class="form-group col-4")
				fielset
					legend Mostrar Título
					div(class="custom-control custom-radio")
						input(type="radio",name="showTitle",id="componentShowTitleSi",class="form-control custom-control-input",required,value="true")
						label(for="componentShowTitleSi",class="uppercase custom-control-label") Si

					div(class="custom-control custom-radio")
						input(type="radio",name="showTitle",id="componentShowTitleNo",class="form-control custom-control-input",required, value="false", checked)
						label(for="componentShowTitleNo",class="uppercase custom-control-label") No

			div(class="form-group col-4")
				fielset
					legend Fullsize
					div(class="custom-control custom-radio")
						input(type="radio",name="full",id="componentFullSi",class="custom-control-input",required, value="true")
						label(for="componentFullSi",class="uppercase custom-control-label") Si
					div(class="custom-control custom-radio")
						input(type="radio",name="full",id="componentFullNo",class="custom-control-input",required, value="false", checked)
						label(for="componentFullNo",class="uppercase custom-control-label") No

			div(class="form-group col-4")
				label(for="componentClasses",class="uppercase") Clases
				input(type="text",name="classes",id="componentClasses",class="form-control")

		.row
			div(class="form-group col-4")
				label(for="layoutColumnPosition",class="uppercase") Layout Position
				input(type="text",name="layoutColumnPosition",id="layoutColumnPosition",class="form-control",required)

			div(class="form-group col-4")
				label(for="layoutColumn",class="uppercase") Layout Column
				input(type="text",name="layoutColumn",id="layoutColumn",class="form-control",required)


		div(id="dynamicConfig")

		.row
			div(class="form-group col-12 d-flex justify-content-end mb-0")
				button(type="submit",class="btn btn-primary send") Añadir componente


	script(id="templateDynamicConfigComponent",type="text/x-jquery-tmpl")
		.row
			.col-12
				fieldset(id="dynamicConfigComponent",data-form-group="content", class="md-3")
					legend Contenido
					.row
						| {%each data.config%}

						| {%if $value.type == "checkbox" || $value.type =="radio" %}

						| {%elseif $value.type == "textarea" %}
						div(class="form-group col-md-4 col-12")
							label(for="input",class="uppercase") ${$value.label}
							textarea(name="${$value.name}", id="input",class="form-control") ${data.content[name]}

						| {%elseif $value.type == "select" %}

						div(class="form-group col-md-4 col-12")
							
							label(for="input",class="uppercase") ${$value.label}
							select(name="${$value.name}", id="input", class="form-control")

								| {%each(key,val) $value.options%}
								option(value="${val.value}") ${val.label}
								| {%/each%}

						| {%elseif $value.type == "array" || $value.type == "group"  %}
						.col-12.form-group

							| ${( $data.isArray = $value.type=="array" ? 'data-block-type=array' : '' ),''}

							fieldset( ${isArray} data-form-group="${$value.name}")
								legend ${$value.label}
								.row.position-relative
									.col-12
										.fieldset(data-array-id="0",class="mt-3")
											.row

												| ${( $data.dataContent = $value.arrayContent ||  $value.content || [] ) ,''}

												| {%each(key,val) $data.dataContent%}
												
												| {%if val.type == "checkbox" || val.type =="radio" %}

												| {%else%}
												div(class="form-group col-md-4 col-12 mb-md-0")
													label(for="input",class="uppercase") ${val.label}
													input(type="${val.type}",name="${val.name}",id="input",class="form-control")
												| {%/if%}		
												| {%/each%}

												| {%if $value.type == "array"%}
												div(class="addItem fa fa-plus mr-1")
												div(class="deleteItem fa fa-minus")
												| {%/if%}	
						| {%else%}
						div(class="form-group col-md-4 col-12")
							label(for="input",class="uppercase") ${$value.label}
							input(type="${$value.type}",name="${$value.name}",id="input",class="form-control")

						| {%/if%}

						| {%/each%}


	include componentList-template			