mixin component-pages(content)
	.row
		.col-12
			.card
				.card-body
					h1 ${{ pages.pageTitle }}$ 
					p ${{ pages.paragraph1 }}$
					p ${{ pages.paragraph2 }}$

	.row
		.col-12
			.card
				.card-body
					h2 ${{ pages.example }}$
					p ${{ pages.paragraph3 }}$
					pre
						| extends ./layouts/layout-home
						| 
						| block header
						|     title Home
						|     meta(name="keywords",content="home")
						|     meta(name="description",content="Home")
						|     script.
						|         checkSession()
						|         checkRol(3)
						| 
						| block column-1
						| 
						|     +component('component-storeMap','id1','','','false','')
						| 
						| block column-2
						| 
						|     +component('component-storeStatus','id1','','','false','')
						| 
						| block column-3
						| 
						|     +component('component-playersList','id1',{'view':'status'},'','false','')				

					p ${{ pages.paragraph4 }}$

					p ${{ pages.paragraph5 }}$

					p ${{ pages.paragraph6 }}$

					p ${{ pages.paragraph7 }}$

					p ${{ pages.paragraph8 }}$