mixin component-generators(content)
	.row
		.col-12
			h1 ${{ generators.pageTitle }}$
			
			p ${{ generators.paragraph1 }}$

			h2 ${{ generators.beforeStartTitle }}$
			
			p ${{ generators.beforeStartParagraph1 }}$
	.row
		.col-sm-6.col-12
				h3 Yeoman
				
				pre
					| npm install -g yo

		.col-sm-6.col-12
				h3 Gulp
				
				pre
					| npm install -g gulp

	.row
		.col-12
			h2 ${{ generators.instalationTitle }}$
			
			p ${{ generators.instalationParagraph1 }}$

			p ${{ generators.instalationParagraph2 }}$
			
			pre
				| npm install

			p ${{ generators.instalationParagraph3 }}$
			
			pre
				| npm link

			h2 ${{ generators.startToUseItTitle }}$
			
			p ${{ generators.startToUseItParagraph1 }}$

			h3 Layouts
			
			p ${{ generators.layoutsParagraph1 }}$
			
			p ${{ generators.layoutsParagraph2 }}$
			
			pre
				| yo sunnie:layout

			p ${{ generators.layoutsParagraph3 }}$
			
			p.text-center
				img(src="./images/demo/generator-layout-img.png",alt="")

			p ${{ generators.layoutsParagraph4 }}$

			h3 ${{ generators.pagesTitle }}$
			
			p ${{ generators.pagesParagraph1 }}$
			
			p ${{ generators.pagesParagraph2 }}$
			
			pre
				| yo sunnie:page
			
			p ${{ generators.pagesParagraph3 }}$

			p.text-center
				img(src="./images/demo/generator-page-img.png",alt="")

			p ${{ generators.pagesParagraph4 }}$

			p ${{ generators.pagesParagraph5 }}$

			h3 ${{ generators.componentsTitle }}$

			p ${{ generators.componentsParagraph1 }}$
			
			p ${{ generators.componentsParagraph2 }}$
			
			pre
				| yo sunnie:component
			
			p ${{ generators.componentsParagraph3 }}$

			p.text-center
				img(src="./images/demo/generator-component-img.png",alt="")

			p ${{ generators.componentsParagraph4 }}$
