mixin component-themes(content)
	.row
		.col-12
			.card
				.card-body
					h1 ${{ themes.pageTitle }}$

					p ${{ themes.pageDescription }}$
	.row
		.col-12
			.card
				.card-body
					h2 Templates
					p ${{ themes.templatesParagraph1 }}$

					p ${{ themes.templatesParagraph2 }}$

					p ${{ themes.templatesParagraph3 }}$

					h3 ${{ themes.templatesParagraph4 }}$

					p ${{ themes.templatesParagraph5 }}$

					p ${{ themes.templatesParagraph6 }}$

					ul
						li <strong>pages:</strong> ${{ themes.templatesParagraph7 }}$
						li <strong>siteURL:</strong> ${{ themes.templatesParagraph8 }}$
						li <strong>siteName:</strong> ${{ themes.templatesParagraph9 }}$
						li <strong>fullSiteURL:</strong> ${{ themes.templatesParagraph10 }}$
						li <strong>api:</strong> ${{ themes.templatesParagraph11 }}$
						li <strong>apiLocal:</strong> ${{ themes.templatesParagraph12 }}$
						li <strong>apiDevelopment:</strong> ${{ themes.templatesParagraph13 }}$

					p ${{ themes.templatesParagraph14 }}$

					h3 ${{ themes.templatesParagraph15 }}$

					p ${{ themes.templatesParagraph16 }}$

					p ${{ themes.templatesParagraph17 }}$

					p ${{ themes.templatesParagraph18 }}$
	.row
		.col-12
			.card
				.card-body
					h2 CSS
					p ${{ themes.cssParagraph1 }}$

					p ${{ themes.cssParagraph2 }}$

					p ${{ themes.cssParagraph3 }}$

					p ${{ themes.cssParagraph4 }}$
	.row
		.col-12
			.card
				.card-body
					h2 Javascript
					p ${{ themes.javascriptParagraph1 }}$

					ul
						li <strong>develop</strong> -> ${{ themes.javascriptList10 }}$
						li <strong>primaryLibs</strong> -> ${{ themes.javascriptList11 }}$
						li <strong>libs</strong> -> ${{ themes.javascriptList12 }}$
						li <strong>priority</strong> -> ${{ themes.javascriptList13 }}$
						li <strong>main.js</strong> -> ${{ themes.javascriptList14 }}$

					p  ${{ themes.javascriptParagraph2 }}$
					
					p  ${{ themes.javascriptParagraph3 }}$
	.row
		.col-12
			.card
				.card-body
					h2 Images
					p ${{ themes.imagesParagraph1 }}$
