extends ./layouts/layout-2-10-fluid

block header
	title Components
	meta(name="keywords",content="pug")
	meta(name="description",content="pug")

block column0
	+component("component-navigation","",{pages:[{text:"${{ default.components }}$",href:"#componentes",title:"${{ default.goComponents }}$","active":"true"},{text:"${{ default.howToUse }}$",href:"#uso",title:"${{ default.goHowToUse }}$"},{text:"${{ default.componentsList }}$",href:"#listado-de-componentes",title:"${{ default.goToComponentsList }}$",childs:[]},{text:"${{ default.examples }}$",href:"#ejemplos",title:"${{ default.goToExamples }}$",childs:[{"text":"Login",href:"#componentLogin",title:"${{ default.goToComponent }}$ Login"},{"text":"Image",href:"#Image",title:"${{ default.goToComponent }}$ Image"},{"text":"Logo",href:"#componentLogo",title:"${{ default.goToComponent }}$ Logo"},{"text":"Banner",href:"#componentBanner",title:"${{ default.goToComponent }}$ Banner"},{"text":"Breadcrumbs",href:"#componentBreadcrumbs",title:"${{ default.goToComponent }}$ Breadcrumbs"},{"text":"Highlighted Banner",href:"#componentHighlightedBanner",title:"${{ default.goToComponent }}$ Highlighted Banner"},{"text":"Highlighted Content",href:"#componentHighlightedContent",title:"${{ default.goToComponent }}$ Highlighted Content"},{"text":"Highlighted Side Image",href:"#componentHighlightedSideImage",title:"${{ default.goToComponent }}$ Highlighted Side Image"},{"text":"Highlighted Flips",href:"#componentHighlightedFlips",title:"Ir a Componente Highlighted Flips"},{"text":"Cards List Carousel",href:"#componentCardsListCarousel",title:"${{ default.goToComponent }}$ Cards List Carousel"},{"text":"Slider",href:"#componentSlider",title:"${{ default.goToComponent }}$ Slider"},{"text":"Navigation",href:"#componentNavigation",title:"${{ default.goToComponent }}$ Navigation"}]}]},"","false","false")

block column1

	+component("component-components","","","","false","true")

