mixin fragment-banner(content)

	- var src = content.src || '';
	- var alt = content.alt || '';
	- var longdesc = content.longdesc || '';
	- var href = content.href || '#';
	- var title = content.title || '';
	- var target = content.target || '';
	- var responsive_src = content.responsiveSRC || '';

	a(href=href,title=title target=target)
		img(src=src, alt=alt, logdesc=longdesc, data-src=src , data-responsive-src=responsive_src)