mixin fragment-card(content)
	- var src = content.src
	- var alt = content.alt
	- var header = content.header
	- var description = content.description
	- var classes= content.classes

	.thumbnail
		div(class=classes)
			img(src=src,alt=alt)

		if(header != '' || description != '')
			.caption
				if(header != '')
					h3 #{header}
				if(description != '')	
					p #{description}