mixin component-publisher(content)
	- var contentType = content.contentType ? "filter[where][and][0][contentType]=" + content.contentType :''
	- var id = parseInt(Math.random() * (99999 - 0) + 0)
	- var templateCode = content.template_code || false
	- var pagination = content.pagination || 'false'
	- var itemsPerPage = content.items_per_page
	- var initialPage = content.initial_page
	- var rel = content.rel
	- var order = content.order ? "&filter[order]=" + content.order : ''
	- var url_detail = content.url_detail || ''
	
	div(id="component-publisher-content-" + id,data-load="true",data-service-data=apiDevelopment + "/site/{idSite}/contents?" + contentType + order,data-method="GET",data-template="#component-publisher-template-" + id, data-target="#component-publisher-content-" + id,  data-has-pagination=pagination || false, data-items-per-page=itemsPerPage || false, data-initial-page= initialPage || false, data-enable-get-params="true", data-rel=rel || false)

	div.row.d-flex.justify-content-center
		nav.pagination
	if templateCode
		script(id="component-publisher-template-" + id ,type="text/x-jsrender").
			!{templateCode}
	else
		script(id="component-publisher-template-" + id ,type="text/x-jsrender")
			
			| {{if data.content.length > 0}}
			
			.row
				| {{for data.content}}
				.col-6.col-xl-2.col-lg-3.col-md-4
					.card
						.card-body
							h3.card-title.icon-2x 
								a(href= fullSiteUrl + url_detail + "&idContent={{:id}}") {{:name}}
							p.card-text {{:createdDate}}

				| {{/for}}
			| {{else}}
			.row
				.alert.alert-info.text-center.col-12.col-sm-8.offset-sm-2 Todavía no existen tipos de contenido

			| {{/if}}
