- var pages = locals.pages


nav(class="navbar navbar-default",role="navigation")

		div(class="navbar-header")
			button(type="button",class="navbar-toggle collapsed",data-toggle="collapse",data-target="#navigation-list",aria-expanded="false")

				span(class="sr-only") Toggle navigation
				span(class="icon-bar")
				span(class="icon-bar")
				span(class="icon-bar")

		div(class="collapse navbar-collapse",id="navigation-list")

			each item in pages
				ul(class="nav navbar-nav")
					li
						a(href="#{item.url}") #{item.name}

						if(item.childs)
							ul(class="child-menu")
								each child in item.childs
									li
										a(href="#{child.url}") #{child.name}

										if(child.childs)
											ul(class="grandchild-menu")
												each grandchild in child.childs
													li
														a(href="#{grandchild.url}") #{grandchild.name}										
