mixin component-languageSelector(content)
	div(class="dropdown")
		button(id="languageSelector",type="button",data-toggle="dropdown",aria-haspopup="true",aria-expanded="false",class="dropdown-toggle")
			span.store-name ${{ languageSelector.currentLanguage }}$
		ul(class="dropdown-menu nomargin dropdown-menu-right",aria-labelledby="languageSelector")
			li.dropdown-item
				a(href="/es/", data-lang="es", title="${{ languageSelector.spanishTitle }}$") ${{ languageSelector.spanish }}$
			li.dropdown-item
				a(href="/en/", data-lang="en", title="${{ languageSelector.englishTitle }}$") ${{ languageSelector.english }}$		