mixin component-getStarted(content)
	.row
		.col-xs-12
			.panel.panel-default
				.panel-body
					h1 ${{ getStarted.pageTitle }}$

					p ${{ getStarted.paragraph1 }}$

					p ${{ getStarted.paragraph2 }}$

	.row
		.col-xs-12
			.panel.panel-default
				.panel-body
					h2 ${{ getStarted.installationTitle }}$

					p ${{ getStarted.installationParagraph1 }}$

					pre
						| npm install

					p ${{ getStarted.installationParagraph2 }}$

	.row
		.col-xs-12
			.panel.panel-default
				.panel-body
					h2 ${{ getStarted.initServerTitle }}$
					
					p ${{ getStarted.initServerParagraph1 }}$

					p ${{ getStarted.initServerParagraph2 }}$

					pre
						| gulp

					p ${{ getStarted.initServerParagraph3 }}$

					p ${{ getStarted.initServerParagraph4 }}$

					p ${{ getStarted.initServerParagraph5 }}$

					p ${{ getStarted.initServerParagraph6 }}$

					.table-responsive
						table(class="table")
							thead
								tr
									th ${{ getStarted.initServerTableTH1 }}$
									th ${{ getStarted.initServerTableTH2 }}$
									th ${{ getStarted.initServerTableTH3 }}$
							tbody
								tr
									td <strong>deploy</strong>
									td ${{ getStarted.initServerTableContainerDeployDescription }}$
									td gulp deploy

								tr
									td <strong>deployCSS</strong>
									td ${{ getStarted.initServerTableContainerDeployCSSDescription }}$
									td gulp deployCSS					

								tr
									td <strong>deployJS</strong>
									td ${{ getStarted.initServerTableContainerDeployJSDescription }}$
									td gulp deployJS

								tr
									td <strong>deployPUG</strong>
									td ${{ getStarted.initServerTableContainerDeployPUGDescription }}$
									td gulp deployPUG

					p ${{ getStarted.initServerParagraph7 }}$		

	.row
		.col-xs-12
			.panel.panel-default
				.panel-body
					h2 ${{ getStarted.structureProjectTitle }}$

					p ${{ getStarted.structureProjectParagraph1 }}$
					
					ul
						li <strong>SRC</strong> -> ${{ getStarted.structureProjectLis11 }}$
						li <strong>BUILD</strong> -> ${{ getStarted.structureProjectLis12 }}$
						li <strong>PUBLIC</strong> -> ${{ getStarted.structureProjectLis13 }}$
						li <strong>node_modules</strong> -> ${{ getStarted.structureProjectLis14 }}$

					p ${{ getStarted.structureProjectParagraph2 }}$

					p ${{ getStarted.structureProjectParagraph3 }}$

					ul
						li <strong>pug</strong> -> ${{ getStarted.structureProjectLis21 }}$
						li <strong>sass</strong> -> ${{ getStarted.structureProjectLis22 }}$
						li <strong>javascript</strong> -> ${{ getStarted.structureProjectLis23 }}$
						li <strong>images</strong> -> ${{ getStarted.structureProjectLis24 }}$

					h3 PUG
					p ${{ getStarted.pugParagraph1 }}$ 

					p ${{ getStarted.pugParagraph2 }}$ 

					p ${{ getStarted.pugParagraph3 }}$

					h4 Components
					p ${{ getStarted.componentsParagraph1 }}$

					h4 Layouts
					p ${{ getStarted.layoutsParagraph1 }}$

					h4 Fragments
					p ${{ getStarted.fragmentsParagraph1 }}$

					h4 Locale
					p ${{ getStarted.localeParagraph1 }}$

					h4 Templates
					p ${{ getStarted.templatesParagraph1 }}$

					h3 SASS
					p ${{ getStarted.sassParagraph1 }}$

					p ${{ getStarted.sassParagraph2 }}$

					p ${{ getStarted.sassParagraph3 }}$

					p ${{ getStarted.sassParagraph4 }}$

					h3 Javascript
					p ${{ getStarted.javascriptParagraph1 }}$

					ul
						li <strong>primaryLibs</strong> -> ${{ getStarted.javascriptList11 }}$
						li <strong>libs</strong> -> ${{ getStarted.javascriptList12 }}$
						li <strong>priority</strong> -> ${{ getStarted.javascriptList13 }}$
						li <strong>main.js</strong> -> ${{ getStarted.javascriptList14 }}$

					p  ${{ getStarted.javascriptParagraph2 }}$
					
					p  ${{ getStarted.javascriptParagraph3 }}$

					h3 Images
					p ${{ getStarted.imagesParagraph1 }}$
