mixin component-components(content)
	.row
		.col-12
			.card
				.card-body
					h1#componentes ${{ components.pageTitle }}$
					
					p ${{ components.paragraph1 }}$

					h2#uso ${{ components.howToUseTitle }}$

					p ${{ components.howToUseParagraph1 }}$

					p ${{ components.howToUseParagraph2 }}$

					pre
						| +component( componentType , componentId , content , componentTitle , showTitle , full , classes )


			table(class="table table-responsive")
				thead
					tr
						th ${{ components.param }}$
						th ${{ components.description }}$
						th ${{ components.default }}$
				tbody
					tr
						td <strong>componentType</strong>
						td ${{ components.componentTypeDescription }}$
						td "". Requerido				

					tr
						td <strong>componentId</strong>
						td ${{ components.componentIdDescription }}$
						td ""

					tr
						td <strong>content</strong>
						td ${{ components.componentContentDescription }}$
						td ""
					tr
						td <strong>componentTitle</strong>
						td ${{ components.componentComponentTitleDescription }}$
						td ""

					tr
						td <strong>showTitle</strong>
						td ${{ components.componentShowTitleDescription }}$
						td ""

					tr
						td <strong>full</strong>
						td ${{ components.componentFullDescription }}$
						td ""

					tr
						td <strong>classes</strong>
						td ${{ components.componentClassesDescription }}$
						td ""							

			.card
				.card-body
					h2 ${{ components.example }}$
					pre
						| extends ./layouts/layout-12-fluid

						|     block header
						|         title Lists
						|         meta(name="keywords",content="pug")
						|         meta(name="description",content="pug")

						|     block content-upper

						|         +component("component-sample-list","","","","false","false")

	.row
		.col-12
			.card
				.card-body
					h2#listado-de-componentes ${{ components.componentsList }}$
					p ${{ components.componentsListParagraph1 }}$

		.col-12.col-sm-6.col-lg-4
			.card
				.card-body
					h3.icon-4x
						a(href="#componentLogin",title="${{ components.goToComponent }}$ Login") Login
					p ${{ components.loginParagraph1 }}$
					h4.icon-2x ${{ components.params }}$
					ul
						li <strong>${{ components.name }}$:</strong> "component-login"
					h4.icon-2x ${{ components.example }}$
					pre
						| +component('component-login','id1','','','false','false')


			.card
				.card-body
					h3.icon-4x
						a(href="#componentBanner",title="${{ components.goToComponent }}$ Banner") Banner
					p ${{ components.showLinkedImage }}$
					h4.icon-2x ${{ components.params }}$
					ul
						li <strong>${{ components.name }}$:</strong> "component-banner"							
						li <strong>src:</strong> ${{ components.imageURL }}$							
						li <strong>alt:</strong> ${{ components.altText }}$						
						li <strong>longdesc:</strong> ${{ components.longDesc }}$							
						li <strong>href:</strong> ${{ components.imageLink }}$							
						li <strong>title:</strong> ${{ components.titleLink }}$							
						li <strong>target:</strong> ${{ components.linkTarget }}$
					h4.icon-2x ${{ components.example }}$
					pre
						| +component('component-banner','id1',{'src':'./images/banner1.jpg','alt':'${{ components.imageGoHome }}$','href':'./home.html','title':'Ir a Home','target':'_blank'},'','false','false')						
			.card
				.card-body
					h3.icon-4x 
						a(href="#componentHighlightedContent",title="${{ components.goToComponent }}$ Highlighted Content") Highlighted Content
					p ${{ components.highlightedContentComponentDescription }}$
					h4.icon-2x ${{ components.params }}$
					ul
						li <strong>${{ components.name }}$:</strong> "component-highlighted-content"							
						li <strong>content:</strong> ${{ components.htmlContent }}$
						li <strong>button:</strong> ${{ components.jsonContentButton }}$
							ul
								li <strong>text:</strong> ${{ components.buttonText }}$
								li <strong>href:</strong> ${{ components.buttonURL }}$
								li <strong>title:</strong> ${{ components.buttonTitle }}$

					h4.icon-2x ${{ components.example }}$
					pre
						| +component("component-highlighted-content","",{"content":"&lt;h2&gt;Pre-Built Dummy Websites&lt;/h2&gt;&lt;h3&gt;easy to install and customise&lt;/h3&gt;&lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.&lt;/p&gt;","button":{"text":"Click!","href":"http://www.google.es","title":"Ir a Google"}},"","false","true")

			.card
				.card-body
					h3.icon-4x 
						a(href="#componentCardsListCarousel",title="${{ components.goToComponent }}$ Cards List Carousel") Cards List Carousel
					p ${{ components.cardCarouselDescription }}$
					h4.icon-2x ${{ components.params }}$
					ul
						li <strong>${{ components.name }}$:</strong> "component-cards-list-carousel"							
						li <strong>${{ components.arrayCards }}$:</strong>
							ul
								li <strong>header:</strong> ${{ components.cardHeader }}$
								li <strong>description:</strong> ${{ components.descriptionText }}$
								li <strong>src:</strong> ${{ components.imageURL }}$
								li <strong>alt:</strong> ${{ components.altText }}$
								li <strong>href:</strong> ${{ components.cardLink }}$
								li <strong>title:</strong> ${{ components.buttonTitle }}$
								li <strong>classes:</strong> ${{ components.cardClasses }}$
								li <strong>price:</strong> ${{ components.cardPrice }}$

					h4.icon-2x ${{ components.example }}$
					pre
						| +component("component-cards-list-carousel","",[{"header":"Header 1","description":"Lorem ipsum","src":"./images/monument.jpg","alt":"Image 1","href":"http://google.com","title":"Ir a SunnieJS","classes":"full m-0"},{"header":"Header 2","description":"Lorem ipsum","src":"./images/monument.jpg","alt":"Image 1","href":"http://google.com","title":"Ir a SunnieJS","classes":"full m-0"},{"header":"Header 3","description":"Lorem ipsum","src":"./images/monument.jpg","alt":"Image 1","href":"http://google.com","title":"Ir a SunnieJS","classes":"full m-0"},{"header":"Header 4","description":"Lorem ipsum","src":"./images/monument.jpg","alt":"Image 1","href":"http://google.com","title":"Ir a SunnieJS","classes":"full m-0"},{"header":"Header 5","description":"Lorem ipsum","src":"./images/monument.jpg","alt":"Image 1","href":"http://google.com","title":"Ir a SunnieJS","classes":"full m-0"}],"","false","true")

		.col-12.col-sm-6.col-lg-4
			.card
				.card-body
					h3.icon-4x
						a(href="#componentImage",title="${{ components.goToComponent }}$ Image") Image
					p ${{ components.imageComponentDescription }}$
					h4.icon-2x ${{ components.params }}$
					ul
						li <strong>${{ components.name }}$:</strong> "component-banner"							
						li <strong>src:</strong> ${{ components.imageURL }}$								
						li <strong>alt:</strong> ${{ components.altText }}$							
						li <strong>longdesc:</strong> ${{ components.longDesc }}$	
					h4.icon-2x ${{ components.example }}$
					pre
						| +component('component-image','id1',{'src':'./images/banner1.jpg','alt':'${{ components.imageGoHome }}$'},'','false','false')

			.card
				.card-body
					h3.icon-4x
						a(href="#componentBreadcrumbs",title="${{ components.goToComponent }}$ Bradcrumbs") Breadcrumbs
					p ${{ components.breadcrumbsComponentDescription }}$
					h4.icon-2x ${{ components.params }}$
					ul
						li <strong>${{ components.name }}$:</strong> "component-banner"							
						li ${{ components.breadcrumbsComponentArray }}$
							ul
								li <strong>url:</strong> ${{ components.pageURL }}$
								li <strong>pageName:</strong> ${{ components.pageName }}$
					h4.icon-2x ${{ components.example }}$
					pre
						| +component('component-breadcrumbs','id1',[{'url':'./pagina1.html','pageName':'Página 1'},{'url':'./pagina2.html','pageName':'Página 2'},{'url':'./pagina3.html','pageName':'Página 3'}],'','false','false')

			.card
				.card-body
					h3.icon-4x 
						a(href="#componentHighlightedSideImage",title="${{ components.goToComponent }}$ Highlighted Side Image") Highlighted Side Image
					p ${{ components.highlightedSideImageComponentDescription }}$
					h4.icon-2x ${{ components.params }}$
					ul
						li <strong>${{ components.name }}$:</strong> "component-highlighted-side-image"							
						li <strong>content:</strong> ${{ components.htmlContentComponent }}$
						li <strong>position:</strong> ${{ components.imagePosition }}$
						li <strong>button:</strong> ${{ components.jsonContentButton }}$
							ul
								li <strong>text:</strong> ${{ components.buttonText }}$
								li <strong>href:</strong> ${{ components.buttonURL }}$
								li <strong>title:</strong> ${{ components.buttonTitle }}$
						li <strong>image:</strong> ${{ components.jsonContentImage }}$
							ul
								li <strong>alt:</strong> ${{ components.altText }}$
								li <strong>src:</strong> ${{ components.imageURL }}$						

					h4.icon-2x ${{ components.example }}$
					pre +component("component-highlighted-side-image","",{"content":"&lt;h2&gt;Pre-Built Dummy Websites&lt;/h2&gt;&lt;h3&gt;easy to install and customise&lt;/h3&gt;&lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.&lt;/p&gt;","button":{"text":"Click!","href":"http://www.google.es","title":"Ir a Google"},"image":{"src":"./images/monument.jpg","alt":"Imagen Monument"},"position":"left"},"","false","true")

			.card
				.card-body
					h3.icon-4x 
						a(href="#componentSlider",title="${{ components.goToComponent }}$ Slider") Slider
					p ${{ components.sliderComponentDescription }}$
					h4.icon-2x ${{ components.params }}$
					ul
						li <strong>${{ components.name }}$:</strong> "component-slider"							

						li <strong>${{ components.arrayImages }}$:</strong>
							ul
								li <strong>src:</strong> ${{ components.imageURL }}$
								li <strong>alt:</strong> ${{ components.altText }}$
								li <strong>href:</strong> ${{ components.imageLink }}$
								li <strong>title:</strong> ${{ components.imageTitleLink }}$

					h4.icon-2x ${{ components.example }}$
					pre 
						| +component("component-slider","",[{"src":"./images/carousel1.jpg","alt":"","href":"./","title":"Ir a Home"},{"src":"./images/carousel2.jpg","alt":"","href":"./","title":"Ir a Home"},{"src":"./images/carousel3.jpg","alt":"","href":"./","title":"Ir a Home"}],"","false","true")

		.col-12.col-sm-6.col-lg-4
			.card
				.card-body
					h3.icon-4x 
						a(href="#componentLogo",title="${{ components.goToComponent }}$ Logo") Logo
					p ${{ components.logoComponentDescription }}$
					h4.icon-2x ${{ components.params }}$
					ul
						li <strong>${{ components.name }}$:</strong> "component-logo"							
						li <strong>src:</strong> ${{ components.imageURL }}$
						li <strong>alt:</strong> ${{ components.altText }}$
						li <strong>url:</strong> ${{ components.imageLink }}$
						li <strong>title:</strong> ${{ components.titleLink }}$
					h4.icon-2x ${{ components.example }}$
					pre
						| +component('component-logo','',{'url':'/','title':'SunnieJS Logo','src':'./images/logo.png','alt':'Site Logo SunnieJS'},'','false','true')

			.card
				.card-body
					h3.icon-4x 
						a(href="#componentHighlightedBanner",title="${{ components.goToComponent }}$ Highlighted Banner") Highlighted Banner
					p ${{ components.highlightedBannerComponentDescription }}$
					h4.icon-2x ${{ components.params }}$
					ul
						li <strong>${{ components.name }}$:</strong> "component-highlighted-banner"							
						li <strong>content:</strong> ${{ components.htmlContent }}$
						li <strong>button:</strong> ${{ components.jsonContentButton }}$
							ul
								li <strong>text:</strong> ${{ components.buttonText }}$
								li <strong>href:</strong> ${{ components.buttonURL }}$
								li <strong>title:</strong> ${{ components.buttonTitle }}$

					h4.icon-2x ${{ components.example }}$
					pre
						| +component("component-highlighted-banner","",{"content":"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.","button":{"text":"Click!","href":"http://www.google.es","title":"Ir a Google"}},"","false","true")


			.card
				.card-body
					h3.icon-4x 
						a(href="#componentHighlightedFlips",title="${{ components.goToComponent }}$ Highlighted Flips") Highlighted Flips
					p ${{ components.highlightedFlipsComponentDescription }}$
					h4.icon-2x ${{ components.params }}$
					ul
						li <strong>${{ components.name }}$:</strong> "component-highlighted-flips"							
						li <strong>header:</strong> ${{ components.bannerHeader }}$
						li <strong>content:</strong> ${{ components.bannerDescription }}$
						li <strong>iconType:</strong> ${{ components.bannerIconType }}$
						li <strong>iconCode:</strong> ${{ components.bannerIconCode }}$

					h4.icon-2x ${{ components.example }}$
					pre
						| +component("component-highlighted-flips","",[{"header":"Header1","content":"Lorem ipsum dolor sit", "iconType":"fontawesome", "iconCode":"fa-ellipsis-v", "iconSize":"icon-6x"},{"header":"Header2","content":"Lorem ipsum dolor sit", "iconType":"glyphicon", "iconCode":"glyphicon-star", "iconSize":"icon-6x"},{"header":"Header3","content":"Lorem ipsum dolor sit", "iconType":"material", "iconCode":"&#xE84F;", "iconSize":"icon-6x"}],"","false","true")

			.card
				.card-body
					h3.icon-4x 
						a(href="#componentNavigation",title="${{ components.goToComponent }}$ Navigation") Navigation
					p ${{ components.navigationComponentDescription }}$
					h4.icon-2x ${{ components.params }}$
					ul
						li <strong>${{ components.name }}$:</strong> "component-navigation"
						li <strong>view:</strong> ${{ components.navigationView }}$
						li <strong>justified:</strong> ${{ components.navigationJustified }}$
						li <strong>stacked:</strong> ${{ components.navigationStacked }}$
						li <strong>pages</strong>: ${{ components.navigationPages }}$
							ul
								li <strong>text:</strong> ${{ components.pageName }}$
								li <strong>href:</strong> ${{ components.pageURL }}$
								li <strong>title:</strong> ${{ components.titleLink }}$
								li <strong>childs:</strong> ${{ components.childsPages }}$


					h4.icon-2x ${{ components.example }}$
					pre
						| +component("component-navigation","",{"pages":[{"text":"Pagina 1",href:"/pagina1.html",title:"Ir a pagina 1","childs":[],"active":"true"},{"text":"Pagina 2",href:"/pagina2.html",title:"Ir a pagina 2","childs":[]}],"view":"pills","stacked":"true"},"","false","true")						
						
	.row
		.col-12
			h2#ejemplos ${{ components.examples }}$
			.row
				.col-12
					.card
						.card-body
							h3(id="componentLogin").m-0 Login
					.row
						.col-md-3.col-sm-2

						.col-md-6.col-sm-8
							+component({"name":"component-login","showTitle":"false","full":"false"})

						.col-md-3.col-sm-2

				.col-12
					.card
						.card-body
							h3(id="componentImage").m-0 Image
					.row
						.col-md-12
							+component({"name":"component-image","content":{"src":"./images/carousel1.jpg","alt":"Image 1"},"showTitle":"false","full":"true"})
				.col-12
					.card
						.card-body
							h3(id="componentBanner").m-0 Banner
					.row
						.col-md-12
							+component({"name":"component-banner","content":{"src":"./images/carousel2.jpg","alt":"Image 1","href":"http://www.google.es", "title":"Ir a Google"},"showTitle":"false","full":"true"})

				.col-12
					.card
						.card-body
							h3(id="componentBreadcrumbs").m-0 Breadcrumbs
					.row
						.col-md-12
							+component({"name":"component-breadcrumbs","content":[{"url":"./Pagina1.html","pageName":"Pagina1"},{"url":"./Pagina2.html","pageName":"Pagina2"},{"url":"./Pagina3.html","pageName":"Pagina3"}],"showTitle":"false","full":"false"})
	.row
		.col-12
			.card
				.card-body
					h3(id="componentHighlightedBanner").m-0 Highlighted Banner
			.row.mx-6.mx-md-7
				+component({"name":"component-highlighted-banner","content":{"content":"<h2>${{ default.homeBannerThemeTitle }}$</h2><p>${{ default.homeBannerThemeContent }}$</p>","button":{"text":"Click!","href":"http://www.google.es","title":"Ir a Google"}},"showTitle":"false","full":"true"})
						
		.col-12
			.card
				.card-body
					h3(id="componentHighlightedContent").m-0 Highlighted Content
			.row
				.col-md-12
					+component({"name":"component-highlighted-content","content":{"content":"<h2>${{ default.homeOwnGeneratorsTitle }}$</h2><h3>${{ default.homeOwnGeneratorsSubTitle }}$</h3><p>${{ default.homeOwnGeneratorsContent }}$</p>","button":{"text":"Click!","href":"http://www.google.es","title":"Ir a Google"}},"showTitle":"false","full":"true"})

		.col-12
			.card
				.card-body
					h3(id="componentHighlightedFlips").m-0 Highlighted Flips
			.row
				.col-md-12
					+component({"name":"component-highlighted-flips","content":[{"header":"Header1","content":"Lorem ipsum dolor sit", "iconType":"fontawesome", "iconCode":"fa-ellipsis-v", "iconSize":"icon-6x"},{"header":"Header2","content":"Lorem ipsum dolor sit", "iconType":"fontawesome", "iconCode":"fa-align-center", "iconSize":"icon-6x"},{"header":"Header3","content":"Lorem ipsum dolor sit", "iconType":"material", "iconCode":"&#xE84F;", "iconSize":"icon-6x"}],"showTitle":"false","full":"true"})
		.col-12
			.card
				.card-body
					h3(id="componentHighlightedSideImage").m-0 Highlighted Side Image
			.row
				.col-md-12
					+component({"name":"component-highlighted-side-image","content":{"content":"<h2>${{ default.homeComponentLibraryComponentTitle }}$</h2><p>${{ default.homeComponentLibraryComponentContent1 }}$ </p><p>${{ default.homeComponentLibraryComponentContent2 }}$</p>","button":{"text":"Click!","href":"http://www.google.es","title":"Ir a Google"},"image":{"src":"./images/monument.jpg","alt":"Imagen Monument"},"position":"left"},"showTitle":"false","full":"true"})

		.col-12
			.card
				.card-body
					h3(id="componentCardsListCarousel").m-0 Cards List Carousel
			.row
				.col-md-12
					+component({"name":"component-cards-list-carousel","content":[{"header":"Header 1","description":"Lorem ipsum","src":"./images/monument.jpg","alt":"Image 1","href":"http://google.com","title":"Ir a SunnieJS","classes":"full m-0"},{"header":"Header 2","description":"Lorem ipsum","src":"./images/monument.jpg","alt":"Image 1","href":"http://google.com","title":"Ir a SunnieJS","classes":"full m-0"},{"header":"Header 3","description":"Lorem ipsum","src":"./images/monument.jpg","alt":"Image 1","href":"http://google.com","title":"Ir a SunnieJS","classes":"full m-0"},{"header":"Header 4","description":"Lorem ipsum","src":"./images/monument.jpg","alt":"Image 1","href":"http://google.com","title":"Ir a SunnieJS","classes":"full m-0"},{"header":"Header 5","description":"Lorem ipsum","src":"./images/monument.jpg","alt":"Image 1","href":"http://google.com","title":"Ir a SunnieJS","classes":"full m-0"}],"showTitle":"false","full":"true"})

		.col-12
			.card
				.card-body
					h3(id="componentProductsCardsListCarousel").m-0 Product Cards List Carousel
			.row
				.col-md-12
					+component({"name":"component-cards-list-carousel","content":[{"header":"Product 1","description":"Lorem ipsum dolor sit amet adipiscing","src":"./images/monument.jpg","alt":"Image 1","href":"http://google.com","title":"Ir a SunnieJS","classes":"full m-0","price":"15,95€"},{"header":"Product 2","description":"Lorem ipsum dolor sit amet adipiscing","src":"./images/monument.jpg","alt":"Image 1","href":"http://google.com","title":"Ir a SunnieJS","classes":"full m-0","price":"15,95€"},{"header":"Product 3","description":"Lorem ipsum dolor sit amet adipiscing","src":"./images/monument.jpg","alt":"Image 1","href":"http://google.com","title":"Ir a SunnieJS","classes":"full m-0","price":"15,95€"},{"header":"Product 4","description":"Lorem ipsum dolor sit amet adipiscing","src":"./images/monument.jpg","alt":"Image 1","href":"http://google.com","title":"Ir a SunnieJS","classes":"full m-0","price":"15,95€"},{"header":"Product 5","description":"Lorem ipsum dolor sit amet adipiscing","src":"./images/monument.jpg","alt":"Image 1","href":"http://google.com","title":"Ir a SunnieJS","classes":"full m-0","price":"15,95€"}],"showTitle":"false","full":"true"})

		.col-12
			.card
				.card-body
					h3(id="componentSlider").m-0 Slider
			.row.mx-6.mx-md-7
				+component({"name":"component-slider","content":[{"src":"./images/carousel1.jpg","alt":"","href":"./","title":"Ir a Home","responsiveSRC":"./images/carousel1-responsive.jpg"},{"src":"./images/carousel2.jpg","alt":"","href":"./","title":"Ir a Home","responsiveSRC":"./images/carousel2-responsive.jpg"},{"src":"./images/carousel3.jpg","alt":"","href":"./","title":"Ir a Home","responsiveSRC":"./images/carousel3-responsive.jpg"}],"showTitle":"false","full":"true"})

		.col-12
			.card
				.card-body
					h3(id="componentNavigation").m-0 Navigation
					.row
						.col-12.col-md-6
							h4 Tabs
							+component({"name":"component-navigation","content":{"pages":[{"text":"Pagina 1","href":"/pagina1.html","title":"Ir a pagina 1","childs":[],"active":"true"},{"text":"Pagina 2","href":"/pagina2.html","title":"Ir a pagina 2","childs":[]}],"view":"tabs"},"showTitle":"false","full":"true"})
						.col-12.col-md-6
							h4 Pills
							+component({"name":"component-navigation","content":{"pages":[{"text":"Pagina 1","href":"/pagina1.html","title":"Ir a pagina 1","childs":[{"text":"Pagina 1-1","href":"/pagina1-1.html","title":"Ir a pagina 1-1"}]},{"text":"Pagina 2","href":"/pagina2.html","title":"Ir a pagina 2","childs":[]}],"view":"pills"},"showTitle":"false","full":"true"})
					.row
						.col-12.col-md-6
							h4 Pills Justified
							+component({"name":"component-navigation","content":{"pages":[{"text":"Pagina 1","href":"/pagina1.html","title":"Ir a pagina 1","childs":[],"active":"true"},{"text":"Pagina 2","href":"/pagina2.html","title":"Ir a pagina 2","childs":[]}],"view":"pills","justified":"true"},"showTitle":"false","full":"true"})

						.col-12.col-md-6
							h4 Pills stacked
							+component({"name":"component-navigation","content":{"pages":[{"text":"Pagina 1","href":"/pagina1.html","title":"Ir a pagina 1","childs":[],"active":"true"},{"text":"Pagina 2","href":"/pagina2.html","title":"Ir a pagina 2","childs":[]}],"view":"pills","stacked":"true"},"showTitle":"false","full":"true"})