mixin fragment-label(content)

	- var id = content.id || false;
	- var classes = content.class || false;
	- var forValue = content.for || false;
	- var text = content.text || '';
	- var helpText = content.helpText || false;
	- var showLabel = content.showLabel || '';

	if showLabel == 'false'
		- var classes = classes + ' sr-only';

	label(id=id, class=classes, for=forValue)
		| !{text}
	if helpText && helpText != ''
		i(class="fa fa-question-circle text-primary",data-toggle="tooltip",data-placement="right",title=helpText)